<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/CesiumUnminified/Widgets/widgets.css" />
</head>

<body>
        <div id="cesiumContainer"></div>
</body>
<script src="/static/CesiumUnminified/Cesium.js"></script>
<script>
    
    // var url = '/model/JHQOBJ/Batchedimport/tileset.json';
    var url = '/model/JHQTL/tileset.json';
    var longitu
    de = 116.433;
    var latitude = 39.916;
    var height = 0;

    console.log("load: "+url)

    //set home view
    Cesium.Camera.DEFAULT_VIEW_RECTANGLE = Cesium.Rectangle.fromDegrees(90, -20, 110, 90);

    var viewer = new Cesium.Viewer('cesiumContainer');

    // var modelMatrix = Cesium.Transforms.eastNorthUpToFixedFrame(
    //     Cesium.Cartesian3.fromDegrees(longitude, latitude, height)
    // );


    var tiles = viewer.scene.primitives.add(new Cesium.Cesium3DTileset({
        url: url,
        // modelMatrix: modelMatrix,
        // scale: 1.0,
        // dequantizeInShader: false,
        // minimumPixelSize: 1.0
    }));
    
    viewer.zoomTo(tiles, new Cesium.HeadingPitchRange(0,-0.5,0))
    
</script>
</html>